---
layout: default
title: Marketing
permalink: /services/marketing
tagline: Tools to monitor sales and performance. 📈
og_image: marketing
---
{% include intro-section.html %}
<div id="marketing" class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <p class="lead mb-8">We blend great ideas with technology, Hire us at {% include pricing-table-hourly-rate.html %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-green">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Email marketing</h3>
                        <p class="lead font-italic mb-0">Build customer relationships</p>
                        <ul class="border-green mb-5">
                            <li>Have people sign up</li>
                            <li>Grow your email list</li>
                            <li>Campaign automation</li>
                            <li>Email design and development</li>
                            <li>Mobile and tablet ready</li>
                            <li>Email strategy and consulting</li>
                        </ul>
                        <a href="/contact" class="btn btn-outline-light card-link text-dark border-green no-anchor-styles mt-auto">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-green">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">SEO</h3>
                        <p class="lead font-italic mb-0">Be ranked on Google</p>
                        <ul class="border-green mb-5">
                            <li>Rank higher in search results</li>
                            <li>Generate quality leads</li>
                            <li>Copywriting</li>
                            <li>Website accessibility and optimisation</li>
                            <li>Training & Consulting</li>
                        </ul>
                        <a href="/contact" class="btn btn-outline-light card-link text-dark border-green no-anchor-styles mt-auto">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-green">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Google Analytics</h3>
                        <p class="lead font-italic mb-0">Monitor your traffic</p>
                        <ul class="border-green mb-5">
                            <li>Monitor your audience</li>
                            <li>View site traffic</li>
                            <li>Monitor demographics</li>
                            <li>Track campaigns</li>
                            <li>Set goals</li>
                        </ul>
                        <a href="/contact" class="btn btn-outline-light card-link text-dark border-green no-anchor-styles mt-auto">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-green">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Hotjar</h3>
                        <p class="lead font-italic mb-0">Collect user feedback</p>
                        <ul class="border-green mb-5">
                            <li>Professional email that matches your domain</li>
                            <li>Cloud-based version of Microsoft Office</li>
                            <li>Secure online storage</li>
                            <li>24/7 support</li>
                            <li>We setup and manage renewals</li>
                        </ul>
                        <a href="/contact" class="btn btn-outline-light card-link text-dark border-green no-anchor-styles mt-auto">Get started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-6">
            <div class="col-12 col-lg-12">
                <p class="mb-0">We ensure that you make the right choices in the market.</p>
                <!-- https://infinum.co/services/research-discovery -->
            </div>
        </div>
    </div>
</div>
