---
layout: default
title: Digital marketing
permalink: /services/digital-marketing
tagline: Tools to monitor sales and performance. 📈
og_image: digital-marketing
---
{% include intro-section.html %}
<div id="digital-marketing" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class='pricing pricing-palden mt-2'>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Google Analytics</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Monitor your audience</li>
                            <li class='pricing-feature'>View site traffic</li>
                            <li class='pricing-feature'>Monitor demographics</li>
                            <li class='pricing-feature'>Track campaigns</li>
                            <li class='pricing-feature'>Set goals</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                    <div class='pricing-item pricing__item--featured'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>SEO</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Get ranked on Google</li>
                            <li class='pricing-feature'>Generate quality leads</li>
                            <li class='pricing-feature'>Copywriting</li>
                            <li class='pricing-feature'>Website accessibility and optimisation</li>
                            <li class='pricing-feature'>Training & Consulting</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Email marketing</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Email design and development</li>
                            <li class='pricing-feature'>Mobile and tablet ready</li>
                            <li class='pricing-feature'>Email strategy and consulting</li>
                            <li class='pricing-feature'>Grow your email list</li>
                            <li class='pricing-feature'>Campaign automation</li>
                        </ul>
                        <a href="{{ site.url }}/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="lead">We use tools to monitor sales and performance on your website. By blending great ideas and technology, we ensure that you have all the ingredients to make the right choices in the market. We create a consistent and efficient linear approach in order to capture data about your customers.</p>
                {% comment %}
                SEO
                Get your business ranked higher in search results. Search engine optimisation (SEO) is vital for any business to succeed. We use the best tactics to deliver you the best results. MAKE A WEB can improve your presence in search engine rankings by adhering to best practices.
                ANALYTICS
                Turn insights into action. MAKE A WEB offer analytical solutions to monitor your audience. By integrating some of these tools it'll help you and us understand your customers. We use these tools to help evaluate a website in terms of the amount of traffic. We can also monitor the demographic of the audience visiting your website. This type of data can help make SEO improvements to increase a websites search engine ranking and help instigate website design improvements.
                EMAIL MARKETING
                Boost sales in your business. Email marketing is the bulk sending of emails to various recipients. Sometimes email marketing is referred to as email broadcasting, but broadcasting implies that you are blindly sending emails to individuals and businesses.
                Email marketing is much more targeted than that. You can select the people that you want to email and send your promotion to them; this is called direct mailing. Direct mailing is when you send messages just to your customers through a single communication channel.
                Email marketing can help boost sales in your business by leveraging your existing contacts to generate more revenue.
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
