---
layout: default
title: Digital marketing
permalink: /services/digital-marketing
tagline: Tools to monitor sales and performance. 📈
og_image: digital-marketing
---
{% include intro-section.html %}
<div id="digital-marketing" class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 text-center">
                <p class="lead">By blending great ideas with technology, we ensure that you make the right choices in the market.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class='pricing pricing-palden mt-6 mb-3'>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Google Analytics</h3>
                        </div>
                        <p class="p-2 pricing-desc">Monitor your audience.</p>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Monitor your audience</li>
                            <li class='pricing-feature'>View site traffic</li>
                            <li class='pricing-feature'>Monitor demographics</li>
                            <li class='pricing-feature'>Track campaigns</li>
                            <li class='pricing-feature'>Set goals</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Hire us</a>
                    </div>
                    <div class='pricing-item pricing__item--featured'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>SEO</h3>
                        </div>
                        <p class="p-2 pricing-desc">Get ranked on Google.</p>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Rank higher in search results</li>
                            <li class='pricing-feature'>Generate quality leads</li>
                            <li class='pricing-feature'>Copywriting</li>
                            <li class='pricing-feature'>Website accessibility and optimisation</li>
                            <li class='pricing-feature'>Training & Consulting</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Hire us</a>
                    </div>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Email marketing</h3>
                        </div>
                        <p class="p-2 pricing-desc">Build customer relationships.</p>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Email design and development</li>
                            <li class='pricing-feature'>Mobile and tablet ready</li>
                            <li class='pricing-feature'>Email strategy and consulting</li>
                            <li class='pricing-feature'>Grow your email list</li>
                            <li class='pricing-feature'>Campaign automation</li>
                        </ul>
                        <a href="{{ site.url }}/contact" class='pricing-action'>Hire us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
