---
layout: default
title: Digital marketing
permalink: /services/digital-marketing
tagline: Tools to monitor sales and performance. 📈
og_image: digital-marketing
---
{% include intro-section.html %}
<div id="digital-marketing" class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 text-center mb-3">
                <p class="lead">By blending great ideas with technology, we ensure that you make the right choices in the market.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class='pricing pricing-palden mt-6 mb-3'>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Google Analytics</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Monitor your audience</li>
                            <li class='pricing-feature'>View site traffic</li>
                            <li class='pricing-feature'>Monitor demographics</li>
                            <li class='pricing-feature'>Track campaigns</li>
                            <li class='pricing-feature'>Set goals</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                    <div class='pricing-item pricing__item--featured'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>SEO</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Get ranked on Google</li>
                            <li class='pricing-feature'>Generate quality leads</li>
                            <li class='pricing-feature'>Copywriting</li>
                            <li class='pricing-feature'>Website accessibility and optimisation</li>
                            <li class='pricing-feature'>Training & Consulting</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Email marketing</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Email design and development</li>
                            <li class='pricing-feature'>Mobile and tablet ready</li>
                            <li class='pricing-feature'>Email strategy and consulting</li>
                            <li class='pricing-feature'>Grow your email list</li>
                            <li class='pricing-feature'>Campaign automation</li>
                        </ul>
                        <a href="{{ site.url }}/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="h3 my-3">Google Analytics</h4>
                <p>Turn insights into action. MAKE A WEB offer analytical solutions to monitor your audience. By integrating these tools it'll help us understand your customers. This data can help make improvements in Search engine optimisation, Website design and your written content.</p>
                <h4 class="h3 my-3">SEO</h4>
                <p>Get your business ranked higher in search results. Search engine optimisation (SEO) is vital for any business to succeed. We use the best tactics to deliver you the best results. MAKE A WEB can improve your presence in search engine rankings by adhering to best practices.</p>
                <h4 class="h3 my-3">Email marketing</h4>
                <p>Email marketing is the sending of emails to a collected list of recipients. Email marketing is a way to promote your business to your customers. MAKE A WEB can help boost sales in your business by leveraging your existing relationships to generate more revenue.</p>
            </div>
        </div>
    </div>
</div>
