@import "./bootstrap_custom_variables";
@import "./bootstrap-4/scss/functions";
@import "./bootstrap-4/scss/variables";
@import "./bootstrap-4/scss/mixins/breakpoints";

/**
 * Viewport relative sizing
 * Doc - http://sassbreak.com/viewport-relative-headings-with-sass, https://codepen.io/akolinski/pen/gWxjrq
 * Usage - h1 { @include vw(font-size, 28px, 41px); }
 * Usage - h2 { @include vw(font-size, 28px, 41px, $min-screen: $screen-sm-min); }
 * Usage - h3 { @include vw(font-size, 28px, 41px, $screen-md-min, $screen-sm-min); }
 */
@function get-vw($target, $max) {
    // 1 vw is equal to 1% of the viewport width
    $max: $max / 1px;
    $vw-context: ($max * .01) * 1px; // 1% viewport width
    @return ($target/$vw-context) * 1vw;
}

@mixin vw($prop, $small-size, $size, $max-screen: 991px, $min-screen: 576px) {
    #{$prop}: get-vw($size, $max-screen);
    // Prevent font-size from getting too big
    @media (min-width: #{$max-screen}) {
        #{$prop}: $size;
    }
    @media (max-width: #{$min-screen}) {
        #{$prop}: $small-size;
    }
}

// Button wrapping - https://stackoverflow.com/questions/18996202/twitter-bootstrap-button-text-word-wrap/27773448#27773448
.btn {
    white-space: normal !important;
    word-wrap: break-word;
    transition: all 100ms ease-in-out;

    &:active {
        transform: scale(0.97);
    }

    &:focus, .focus {
        box-shadow: none !important;
    }
}

// Font weight utility classes that are being use
.fw-200 {
    font-weight: 200 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

// Lets make a handy class to manage div elements that are anchors but we don't want text to have anchor styles
.no-anchor-styles {
    text-decoration: none !important;

    &:hover {
        span.card-link,
        span.author-bio,
        span.breadcrumb-home {
            text-decoration: underline !important;
        }
    }
}

// For usage with class above. If you want a hover interaction for links
.but-hover {
    &:hover {
        text-decoration: underline !important;
    }
}

// Internet explorer 10+ fixes
// https://stackoverflow.com/questions/28417056/how-to-target-only-ie-any-version-within-a-stylesheet
// Fix for using d-flex to make equal height cards, won't work in IE
.d-ie-block {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        display: block !important;
    }
}
