@import "bootstrap_custom_variables";
@import "./bootstrap-4/scss/functions";
@import "./bootstrap-4/scss/variables";
@import "./bootstrap-4/scss/mixins/breakpoints";

// Services page styles, Card style for showing services with either one cost or an hourly cost
.service-card {
    min-width: 100%;
    @include media-breakpoint-up(md) {
        min-width: 330px;
    }
    @include media-breakpoint-up(lg) {
        min-width: 210px;
    }
    @include media-breakpoint-up(xl) {
        min-width: 255px;
    }

    margin: 0 auto;

    .card-body {
        padding: 1rem;

        .lead {
            font-size: 1.05rem;
            padding: 0 0 20px 0;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        font-size: 1rem;
        border-top: solid 1px #333;
        padding: 20px 0 0 0;

        li {
            margin-bottom: 20px;
        }
    }

    .btn {
        display: inline-table;
        margin: 0 auto;
    }
}

.service-card-2 {
    min-width: 100%;
    @include media-breakpoint-up(md) {
        min-width: 330px;
    }
    @include media-breakpoint-up(lg) {
        min-width: 280px;
    }
    @include media-breakpoint-up(xl) {
        min-width: 350px;
    }
}

// Pricing style for price in sentences
.price-style {
    font-size: 1.4em;
    font-weight: 700;

    .currency {
        font-size: 0.5em;
        vertical-align: super;
    }

    .period {
        font-size: 0.4em;
        margin-left: 4px;
    }
}

.maw-card-footer {
    background: white;
    border-top: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.sign-up-button-support {
    position: relative;
    top: -8px;
}