---
layout: default
title: Design
permalink: /services/design
tagline: Human-centered design to help convey your message. 💡
og_image: design
---
{% include intro-section.html %}
<div id="design" class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <p class="lead mb-8">Design should always communicate with meaning. Hire us at {% include pricing-table-hourly-rate.html %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-blue">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Wireframing</h3>
                        <p class="lead font-italic mb-0">Build customer relationships.</p>
                        <ul class="border-blue mb-5">
                            <li>prioritization of content, functionalities available, and intended behaviors</li>
                            <li>Information hierarchy defined</li>
                            <li>Visual and typographic hierarchy</li>
                            <li>Low fidelity</li>
                            <li>Black and white outline of the design</li>
                        </ul>
                        <a href="/contact?q=wireframing" class="btn btn-outline-light card-link text-dark border-blue no-anchor-styles mt-auto">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-blue">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">UI Design</h3>
                        <p class="lead font-italic mb-0">Get a business email</p>
                        <ul class="border-blue mb-5">
                            <li>include any styling, color, or graphics.</li>
                            <li>Design of the total user experience</li>
                            <li>High fidelity design with brand outline</li>
                            <li>Websites, apps and software</li>
                        </ul>
                        <a href="/contact?q=uidesign" class="btn btn-outline-light card-link text-dark border-blue no-anchor-styles mt-auto">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-blue">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Logo design</h3>
                        <p class="lead font-italic mb-0">Build a brand</p>
                        <ul class="border-blue mb-5">
                            <li>Custom design with revisions</li>
                            <li>Brand identity</li>
                            <li>Vector and print ready files</li>
                        </ul>
                        <a href="/contact?q=logodesign" class="btn btn-outline-light card-link text-dark border-blue no-anchor-styles mt-auto">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-blue">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Business cards</h3>
                        <p class="lead font-italic mb-0">Leave an impression</p>
                        <ul class="border-blue mb-5">
                            <li>Custom design with revisions</li>
                            <li>Vector and print ready files</li>
                            <li>Re-order anytime</li>
                        </ul>
                        <a href="/contact?q=businesscards" class="btn btn-outline-light card-link text-dark border-blue no-anchor-styles mt-auto">Get started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-6">
            <div class="col-12 col-lg-12">
                <p class="mb-0">Our designs are clear and simple helping your brand flourish.</p>
                <!-- https://infinum.co/services/research-discovery -->
            </div>
        </div>
    </div>
</div>
