---
layout: default
title: Design
permalink: /services/design
tagline: Human-centered design to help convey your message. 💡
og_image: design
---
{% include intro-section.html %}
<div id="design" class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 text-center">
                <p class="lead mb-8">Design should always communicate with meaning. Hire us at {% include pricing-table-hourly-rate.html %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-blue shadow">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Wireframing</h3>
                        <p class="font-italic mb-0">Outline of your website</p>
                        <ul class="border-blue mb-5">
                            <li>Information hierarchy defined</li>
                            <li>Visual and typographic outlined</li>
                            <li>Low fidelity design</li>
                            <li>Black and white outline of the website</li>
                        </ul>
                        <a href="/contact?q=wf" class="btn btn-outline-light card-link text-dark border-blue no-anchor-styles mt-auto stretched-link">Hire us<i class="fal fa-comment-smile ml-2 fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-blue shadow">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">UI Design</h3>
                        <p class="font-italic mb-0">Design of your website</p>
                        <ul class="border-blue mb-5">
                            <li>Design of the total user experience</li>
                            <li>Styling, color, and graphics</li>
                            <li>High fidelity design</li>
                            <li>Websites and mobile apps</li>
                        </ul>
                        <a href="/contact?q=uid" class="btn btn-outline-light card-link text-dark border-blue no-anchor-styles mt-auto stretched-link">Hire us<i class="fal fa-comment-smile ml-2 fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-blue shadow">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Logo design</h3>
                        <p class="font-italic mb-0">Represent your business</p>
                        <ul class="border-blue mb-5">
                            <li>Custom design with revisions</li>
                            <li>Brand identity</li>
                            <li>Vector and print ready files</li>
                        </ul>
                        <a href="/contact?q=ld" class="btn btn-outline-light card-link text-dark border-blue no-anchor-styles mt-auto stretched-link">Hire us<i class="fal fa-comment-smile ml-2 fa-lg"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card service-card border-blue shadow">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Business cards</h3>
                        <p class="font-italic mb-0">Leave a lasting impression</p>
                        <ul class="border-blue mb-5">
                            <li>Custom design with revisions</li>
                            <li>Vector and print ready files</li>
                            <li>Re-order anytime</li>
                        </ul>
                        <a href="/contact?q=bc" class="btn btn-outline-light card-link text-dark border-blue no-anchor-styles mt-auto stretched-link">Hire us<i class="fal fa-comment-smile ml-2 fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
