---
layout: default
title: UX design
permalink: /services/ux-design
tagline: User centered design to help convey your message. 💡
og_image: ux-design
---
{% include intro-section.html %}
<div id="ux-design" class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 text-center">
                <p class="lead">Design should always communicate with meaning. Our designs are clear and simple helping your brand flourish.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class='pricing pricing-palden mt-6 mb-3'>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Logo design</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Custom design</li>
                            <li class='pricing-feature'>Brand identity</li>
                            <li class='pricing-feature'>Vector and print ready files</li>
                            <li class='pricing-feature'>Revisions</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                    <div class='pricing-item pricing__item--featured'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Wireframing</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Clear vision on the project structure</li>
                            <li class='pricing-feature'>Information hierarchy defined</li>
                            <li class='pricing-feature'>Visual and typographic hierarchy</li>
                            <li class='pricing-feature'>Low, medium or high fidelity wireframes</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Business cards</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Custom design</li>
                            <li class='pricing-feature'>Vector and print ready files</li>
                            <li class='pricing-feature'>Revisions</li>
                            <li class='pricing-feature'>Re-order anytime</li>
                        </ul>
                        <a href="{{ site.url }}/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="h3 my-3">Logo design</h4>
                <p>Have an image represent your business. Our Logo design process starts with the principals of making sure that you are happy with the logo we create. We create a batch of logo design concepts. This allows us to home in on what you like and what you don't like.</p>
                <h4 class="h3 my-3">Wireframing</h4>
                <p>Wireframing is an important step in any Website design process. Our wireframing allows you to define the information hierarchy of your website. Making it easier to plan the layout according to how your customers need to digest the information.</p>
                <h4 class="h3 my-3">Business cards</h4>
                <p>Modern, unique, simple and clean business card design. MAKE A WEB prepare your business card design and provide a file so that you can get them printed straight away or we can print them for you.</p>
            </div>
        </div>
    </div>
</div>
