---
layout: default
title: UX design
permalink: /services/ux-design
tagline: User centered design to help convey your message. 💡
og_image: /assets/images/dest/og-images/ux-design.svg
---
{% include intro-section.html %}
<div id="ux-design" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class='pricing pricing-palden mt-2'>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Logo design</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Vector file & high definition file</li>
                            <li class='pricing-feature'>Print ready file</li>
                            <li class='pricing-feature'>Logo guidelines document</li>
                            <li class='pricing-feature'>Revisions</li>
                            <li class='pricing-feature'>Re-order anytime</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                    <div class='pricing-item pricing__item--featured'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Wireframing</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Clear vision on the project structure</li>
                            <li class='pricing-feature'>Goals, USP and target audience defined</li>
                            <li class='pricing-feature'>Visual and typographic hierarchy</li>
                            <li class='pricing-feature'>Low, medium or high fidelity wireframes</li>
                        </ul>
                        <a href="/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                    <div class='pricing-item'>
                        <div class='pricing-deco'>
                            <div class='pricing-price monthly-promo'>
                                {% include pricing-table-hourly-rate.html %}
                            </div>
                            <h3 class='pricing-title'>Business cards</h3>
                        </div>
                        <ul class='pricing-feature-list'>
                            <li class='pricing-feature'>Vector file</li>
                            <li class='pricing-feature'>Custom design</li>
                            <li class='pricing-feature'>Print ready file</li>
                            <li class='pricing-feature'>Revisions</li>
                            <li class='pricing-feature'>Re-order anytime</li>
                        </ul>
                        <a href="{{ site.url }}/contact" class='pricing-action'>Talk to us now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="lead">Our UX design creates visual impact with purpose. At MAKE A WEB we know that excellent design should always communicate with meaning. Our designs are clear and simple. We help your brand connect with your audience, making sure that you are effectively engaging with your customers.</p>
                {% comment %}
                Logo design
                Have an image represent your business. Our Logo design process starts with the principals of making sure that you are happy with the logo we create. We create a batch of logo design concepts. This allows us to home in on what you like and what you don't like. Then we finalise the logo with a Logo & Brand Guidelines document.
                Business cards
                Modern, unique, simple and clean business card design. MAKE A WEB prepare your business card design and provide you with a file so you can get them printed straight away or we can print them for you.
                {% endcomment %}
            </div>
        </div>
    </div>
</div>
