---
layout: default
---
<section id="welcome" class="container-fluid">
  <div class="container">
      <div class="row">
        <div class="col-12 col-md-10">
            <div class="jumbotron p-0 maw-jumbotron-margin">
              <h1 class="display-3">Create a website your customers will <span class="text-orange">love</span>.</h1>
              <p class="lead">We build websites to help businesses thrive with a visual brand.</p>
              <a class="btn text-white btn-orange btn-lg no-anchor-styles mr-2 mb-2 mb-md-0" href="{{ site.url }}/services/website-development">Select a plan today<i class="fal fa-hand-point-right ml-2 fa-lg"></i></a>
            </div>
        </div>
      </div>
  </div>
</section>
<div class="container mt-3 mt-md-0">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 d-flex d-ie-block mb-4 mb-lg-0">
            <div class="card flex-fill border-right-0 border-left-0 border-top border-orange rounded-0 pb-3">
                <div class="card-body pt-8">
                    <h2 class="h5 card-title">Web development</h2>
                    <p class="card-text">We build websites to help businesses thrive.</p>
                    <div class="card-footer border-0 bg-white p-0">
                        <a href="{{ site.url }}/services/website-development" class="btn btn-outline-light card-link text-dark border-orange my-2 no-anchor-styles stretched-link">View pricing</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex d-ie-block mb-4 mb-lg-0">
            <div class="card flex-fill border-right-0 border-left-0 border-top border-blue rounded-0 pb-3">
                <div class="card-body pt-8">
                    <h2 class="h5 card-title">Design</h2>
                    <p class="card-text">Human-centered design to help convey your message.</p>
                    <div class="card-footer border-0 bg-white p-0">
                        <a href="{{ site.url }}/services/design" class="btn btn-outline-light card-link text-dark border-blue my-2 no-anchor-styles stretched-link">View pricing</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex d-ie-block mb-4 mb-lg-0">
            <div class="card flex-fill border-right-0 border-left-0 border-top border-green rounded-0 pb-3">
                <div class="card-body pt-8">
                    <h2 class="h5 card-title">Marketing</h2>
                    <p class="card-text">Tools to monitor sales and performance.</p>
                    <div class="card-footer border-0 bg-white p-0">
                        <a href="{{ site.url }}/services/marketing" class="btn btn-outline-light card-link text-dark border-green my-2 no-anchor-styles stretched-link">View pricing</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex d-ie-block mb-4 mb-lg-0">
            <div class="card flex-fill border-right-0 border-left-0 border-top border-yellow rounded-0 pb-3">
                <div class="card-body pt-8">
                    <h2 class="h5 card-title">Support</h2>
                    <p class="card-text">We set your business up online.</p>
                    <div class="card-footer border-0 bg-white p-0">
                        <a href="{{ site.url }}/services/support" class="btn btn-outline-light card-link text-dark border-yellow my-2 no-anchor-styles stretched-link">View pricing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="reviews" class="mt-6 mt-md-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="display-4 mb-6">Reviews</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <i class="fal fa-quote-left fa-2x float-left quote"></i>
                <blockquote class="carousel-item active pl-10">
                    <p>MAKE A WEB created a professional logo and branding guidelines document very efficiently! Helping us establish our brand at Rex's Yarra Valley House. We are so happy with the work and continued online support.</p>
                    <footer class="blockquote-footer text-center">Tracy Tarr from<cite title="Source Title"> Rex's Yarra Valley House</cite></footer>
                    <div class="stars mt-1 text-center">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                </blockquote>
            </div>
            <div class="col-12 col-md-6">
                <i class="fal fa-quote-left fa-2x float-left quote"></i>
                <blockquote class="carousel-item pl-10">
                    <p>MAKE A WEB went above and beyond to create the perfect website for our business, and continue to do so every time we contact them. They maintain our email accounts and showed us how to edit the website from our end.</p>
                    <footer class="blockquote-footer text-center">Kane Latham from<cite title="Source Title"> Evenrange</cite></footer>
                    <div class="stars mt-1 text-center">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                    </div>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4 text-center leave-a-review">
                <p class="lead">View all our <a target="_blank" href="http://bit.ly/2tpvbde">reviews</a> or contribute <a target="_blank" href="http://bit.ly/2G3gLJ4">by leaving us one</a>. 😍</p>
            </div>
        </div>
    </div>
</div>
