---
layout: default
title: Articles
permalink: /articles/
tagline: Helpful tips, fresh thinking and tutorials. 📖
og_image: articles
in_navigation: true
---
{% include intro-section.html %}
<div id="articles" class="container">
    <div class="row">
        {% for post in site.posts %}
        <div class="col-12 col-md-6 col-lg-4 d-flex d-ie-block">
            <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape }}" class="card flex-fill mb-3 mb-md-6 no-anchor-styles shadow">
                <img class="card-img-top my-6" src="{{ post.article_image | escape }}" alt="{{ post.title | escape }}">
                <div class="card-body pt-0">
                    <h3 class="h4 card-title text-monospace fw-400">{{ post.title | escape }}</h3>
                    <h4 class="h6 card-subtitle mb-2 text-muted">
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {% if post.updated != null %}
                        Updated - {{ post.updated | date: date_format }}
                    {% endif %}
                    {% if post.updated == null %}
                        Published - {{ post.date | date: date_format }}
                    {% endif %}
                    </h4>
                    <p class="card-text mb-10">{{ post.tagline | escape }}</p>
                    <span class="btn btn-outline-light text-dark position-absolute">Read more <i class="fal fa-book-open ml-1"></i></span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
